https://www.geeksforgeeks.org/how-to-import-an-excel-file-into-python-using-pandas/

https://www.mca.gov.in/content/mca/global/en/data-and-reports/company-llp-info/incorporated-closed-month.html

In [6]:
import pandas as pd
  
df = pd.read_excel("D://companies_registration//data//all//eir_April2016.xlsx",sheet_name=0,header=0)
print(df)

      S.No                    CIN  \
0        1  U01100AP2016PTC103079
1        2  U01100AP2016PTC103080
2        3  U01100AP2016PTC103110
3        4  U01100BR2016PTC031401
4        5  U01100BR2016PTC031425
...    ...                    ...
3989  3990  U93093DL2016PTC298373
3990  3991  U93093MH2016PTC280403
3991  3992  U93095DL2016OPC298840
3992  3993  U93095DL2016PTC298518
3993  3994  U93098DL2016PTC298786

                                           COMPANY NAME DATE OF REGISTRATION  \
0             UPPADA FISHERIES PRODUCER COMPANYLIMITED            19/04/2016
1                             77 FARMS PRIVATE LIMITED            19/04/2016
2     IRP AGROIRP AGRO INDUSTRIES PRIVATE LIMITEDIRP...           27/04/2016
3           AMIT AGRITECH AND EDUCATION PRIVATELIMITED            23/04/2016
4     KOSHI NAV AKANSHAKOSHI NAV AKANSHA AGRO PRODUC...           27/04/2016
...                                                 ...                  ...
3989              UNIVERSE HOSPITALITY PRIVATE LIMITED            23/04/2016
3990  DHOBI AAYA LAUNDRYDHOBI AAYA LAUNDRY PRIVATE L...           30/04/2016
3991  LILIES CONCEPTLILIES CONCEPT (OPC) PRIVATE LIM...           30/04/2016
3992                      CAREERBAKERS PRIVATE LIMITED            26/04/2016
3993  ARTKONNECTARTKONNECT MANAGEMENT PRIVATE LIMITE...           30/04/2016

     MONTH NAME           STATE              ROC                 CLASS  \
0         April  Andhra Pradesh  ROC - HYDERABAD               Private
1         April  Andhra Pradesh  ROC - HYDERABAD               Private
2         April  Andhra Pradesh  ROC - HYDERABAD               Private
3         April           Bihar      ROC - PATNA               Private
4         April           Bihar      ROC - PATNA               Private
...         ...             ...              ...                   ...
3989      April           Delhi      ROC - DELHI               Private
3990      April     Maharashtra     ROC - MUMBAI               Private
3991      April           Delhi      ROC - DELHI  Private(One Person C
3992      April           Delhi      ROC - DELHI               Private
3993      April           Delhi      ROC - DELHI               Private

     COMPANY STATUS    COMPANY TYPE                   CATEGORY  ACTIVITY CODE  \
0            Active  Non-Government  Company limited by Shares           1100
1            Active  Non-Government  Company limited by Shares           1100
2            Active  Non-Government  Company limited by Shares           1100
3            Active  Non-Government  Company limited by Shares           1100
4            Active  Non-Government  Company limited by Shares           1100
...             ...             ...                        ...            ...
3989         Active  Non-Government  Company limited by Shares          93093
3990         Active  Non-Government  Company limited by Shares          93093
3991         Active  Non-Government  Company limited by Shares          93095
3992         Active  Non-Government  Company limited by Shares          93095
3993         Active  Non-Government  Company limited by Shares          93098

                       ACTIVITY DESCRIPTION  \
0         Agriculture and Allied Activities
1         Agriculture and Allied Activities
2         Agriculture and Allied Activities
3         Agriculture and Allied Activities
4         Agriculture and Allied Activities
...                                     ...
3989  Community, personal & Social Services
3990  Community, personal & Social Services
3991  Community, personal & Social Services
3992  Community, personal & Social Services
3993  Community, personal & Social Services

                              REGISTERED OFFICE ADDRESS
0     UPPADA FISHERIES PRODUCER COMPANY ,LIMITED ,Pe...
1     77 FARMS PRIVATE LIMITED ,SANTHANUALAPADU ,11-...
2     IRP AGRO INDUSTRIES PRIVATE LIMITED ,SAI BABA ...
3     AMIT AGRITECH AND EDUCATION PRIVATE ,LIMITED ,...
4     KOSHI NAV AKANSHA AGRO PRODUCER COMPANY ,LIMIT...
...                                                 ...
3989  UNIVERSE HOSPITALITY PRIVATE LIMITED ,BAZAR SI...
3990  DHOBI AAYA LAUNDRY PRIVATE LIMITED ,KHARGHAR ,...
3991  LILIES CONCEPT (OPC) PRIVATE LIMITED ,NEAR IIT...
3992  CAREERBAKERS PRIVATE LIMITED ,WORLD TRADE CENT...
3993  ARTKONNECT MANAGEMENT PRIVATE LIMITED ,N-24, S...

[3994 rows x 14 columns]

In [2]:
# 1 to capture all data from all sheets all files into data frame for same kind of data